.main-bg{
    color: #000;
    background-color:#b3d6fd;
    width: 74%;
}

.navbar-container{
    display: flex;
    justify-content: center;
  
}

.navbar-items{
    display: flex;
    justify-content: space-between;
    /* margin: 70px; */
    font-size: 10px;
    padding-top:30px;
    padding-left: 50px;
 
}

.navbar-p{
    font-size: 16px;

}

.navbar-content-1{
    margin-right: 60px;
}

.navbar-content-2{
    display: flex;
    flex-direction: row-reverse;
    margin-left: 600px;
    gap: 20px;

}

.chart-container {
    border-radius: 20px;
    border: 2px solid #ccc;
    margin: 10px;
    padding: 20px;
    padding-bottom:5px ;
    background-color: #e7f3ff;
  }
  
  .chart-items {
    width: 100%;
    height: 240px;
  }

  .chart-heading{
    margin-bottom: 2px;
    font-size:12px;
  }

  .chart-attribute-container{
    display: flex;
    justify-content: space-between;
  }

  .chart-attribute-item-1{
    background-color: #f1f1f1;
    color: grey;
  }

  .chart-attribute-item-2{
    background-color: #babcba;
  
  }

   .card-heading{
    font-size:14px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 1 px;
    position: relative;
    left: 20px;
   }

   .card-container{
    height: 100%;
    width: 100%;
   }

   .card-grid-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
   }

