.main-bg{
    color: #000;
    background-color:#b3d6fd;
    width: 74%;
}

.navbar-container{
    display: flex;
    justify-content: center;
  
}

.navbar-items{
    display: flex;
    justify-content: space-between;
    /* margin: 70px; */
    font-size: 10px;
    padding-top:30px;
    padding-left: 50px;
 
}

.navbar-p{
    font-size: 16px;

}

.navbar-content-2{
    display: flex;
    flex-direction: row-reverse;
    margin-left: 600px;
    gap: 20px;

}

.chart-container {
    border-radius: 20px;
    border: 2px solid #ccc;
    margin: 10px;
    padding: 20px;
    background-color: #e7f3ff;
  }
  
  .chart-items {
    width: 100%;
    height: 210px;
  }

  .chart-heading{
    font-size:13px;
  }
/* 
  .chart-container .chart-items .chart .recharts-cartesian-grid line.vertical {
    stroke-width: px;
  }
   */

   .card-heading{
    font-size:14px;
    margin-top: 20px;
    padding: 10 px;
    position: relative;
    left: 20px;
   }

   .card-container{
      display: flex;
      justify-content: space-between;
      margin: 30px;
   }

   .card-items{
      display: flex;
      justify-content: space-between;
      margin: 2px;
      flex-wrap: wrap;
   }

   .card-1{
    height: 130px;
    width: 270px;
    border-radius: 25px;
    background-color: #e7f3ff;
    margin-bottom: 20px;
   }

    .card-2{
      height: 130px;
      width: 270px;
      border-radius: 25px;
      background-color: #e7f3ff;
    }

    .card-3{
      height: 130px;
      width: 270px;
      border-radius: 25px;
      background-color: #e7f3ff;
    }

    .card-4{
      height: 130px;
      width: 270px;
      border-radius: 25px;
      background-color: #e7f3ff;
    }

    .card-5{
      height: 130px;
      width: 270px;
      border-radius: 25px;
      background-color: #e7f3ff;
    }

    .card-6{
      height: 130px;
      width: 270px;
      border-radius: 25px;
      background-color: #e7f3ff;
    }